/**
* @tokens Colors
* @presenter Color
*/
/**
* @tokens ColorsText
* @presenter Color
*/
/**
  * @tokens-end
*/
/**
* @tokens ColorsActions
* @presenter Color
*/
/**
* @tokens ColorsActionsPos
* @presenter Color
*/
/**
* @tokens ColorsActionsNeg
* @presenter Color
*/
/**
* @tokens ColorsActionsWar
* @presenter Color
*/
/**
  * @tokens-end
*/
.icon-error {
  color: #BF1C00;
}

.color-error {
  background: #BF1C00;
}

/**
* @tokens Borders/Borders
* @presenter Color
*/
/**
* @tokens Border-width
* @presenter Border
*/
/**
* @tokens Radii
* @presenter Border
*/
/**
* @tokens-end
*/
.border-primary-brand {
  border: 1px solid #2A73B8;
  border-radius: 8px;
}
.border-primary-brand.disabled, .border-primary-brand :disabled {
  border: 1px solid #90B4D7;
  border-radius: 8px;
}
.border-primary-brand-inverse {
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 8px;
}

.border-tertiary-brand {
  border: 1px solid #90B4D7;
  border-radius: 8px;
}
.border-tertiary-brand.disabled, .border-tertiary-brand :disabled {
  border: 1px solid #90B4D7;
  border-radius: 8px;
}
.border-tertiary-brand-inverse {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
}

.border-primary-neutral {
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 8px;
}
.border-primary-neutral.disabled, .border-primary-neutral :disabled {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}
.border-primary-neutral-inverse {
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 8px;
}

.border-tertiary-neutral {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}
.border-tertiary-neutral.disabled, .border-tertiary-neutral :disabled {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}
.border-tertiary-neutral-inverse {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
}

/**
* @tokens Padding
* @presenter Spacing
*/
/**
* @tokens Margin
* @presenter Spacing
*/
/**
* @tokens-end
*/
.btn {
  height: 63px;
  padding: 0.75rem 1.5rem;
  background: #0054A4;
  color: rgb(255, 255, 255);
}
.btn:hover, .btn .hover {
  background: #00478B;
}
.btn:active, .btn .active {
  background: #003672;
}
.btn:disabled, .btn .disabled {
  background: rgba(255, 255, 255, 0.3);
}
.btn-inverse {
  background: rgb(255, 255, 255);
  color: #00478B;
}
.btn-inverse:hover, .btn-inverse .hover {
  background: #cedeee;
}
.btn-inverse:active, .btn-inverse .active {
  background: #B1CAE4;
}

.btn-secondary {
  height: 63px;
  padding: 0.75rem 1.5rem;
  border: 1px solid #2A73B8;
  border-radius: 8px;
  background: none;
  color: #0054A4;
}
.btn-secondary:hover, .btn-secondary .hover {
  background: #EDF2F8;
  color: #2A73B8;
}
.btn-secondary:active, .btn-secondary .active {
  background: #B1CAE4;
  color: #00478B;
}
.btn-secondary:disabled, .btn-secondary .disabled {
  background: rgba(255, 255, 255, 0.3);
}
.btn-secondary-inverse {
  background: none;
  color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 8px;
}
.btn-secondary-inverse:hover, .btn-secondary-inverse .hover {
  background: rgba(255, 255, 255, 0.1);
}
.btn-secondary-inverse:active, .btn-secondary-inverse .active {
  background: rgba(255, 255, 255, 0.3);
}

.btn-link, a.link {
  content: "test";
}

/*# sourceMappingURL=button.css.map */
